ACTION=="add" SUBSYSTEMS=="usb", KERNELS=="1-1.1:1.0", SYMLINK="ttyUSBHub1"
ACTION=="add" SUBSYSTEMS=="usb", KERNELS=="1-1.2:1.0", SYMLINK="ttyUSBHub2"
ACTION=="add" SUBSYSTEMS=="usb", KERNELS=="1-1.3:1.0", SYMLINK="ttyUSBHub3"
ACTION=="add" SUBSYSTEMS=="usb", KERNELS=="1-1.4:1.0", SYMLINK="ttyUSBHub4"
